<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

<import resource="spring-search-jdbc.xml"/>
<import resource="spring-search-dao.xml"/>
<import resource="spring-search-memcached.xml"/>
<import resource="spring-search-core.xml"/>

	<context:component-scan base-package="com.xiu.search.web.controller" />

	<mvc:annotation-driven/>
	<mvc:resources mapping="/resources/**" location="/resources/" />
	
	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="order" value="1" />
		<property name="favorParameter" value="true" />
		<property name="favorPathExtension" value="false" />
		<property name="ignoreAcceptHeader" value="true" />
		<property name="defaultContentType" value="text/html" />

		<!-- 扩展名至mimeType的映射,即 /user.json => application/json -->
		<property name="mediaTypes">
			<map>
				<entry key="json" value="application/json" />
				<entry key="jsonp" value="application/javascript" />
			</map>
		</property>
		<property name="defaultViews">
			<list>
				<bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView">
					<property name="modelKey" value="data" />
					<property name="extractValueFromSingleKeyModel" value="true" />
				</bean>
			</list>
		</property>
	</bean>
	<!-- 设置freeMarker的配置文件路径 -->
	<bean id="freemarkerConfiguration" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="classpath:freemarker.properties" />
	</bean>

	<!-- 配置freeMarker的模板路径 -->
	<bean id="freemarkerConfig" class="com.xiu.search.web.ext.freemarker.FreeMarkerConfigurerExt">
		<!--property name="freemarkerSettings" ref="freemarkerConfiguration"/ -->
		<property name="templateLoaderPath">
			<value>/</value>
		</property>
		<property name="freemarkerSettings"> 
			<props>
				<prop key="defaultEncoding">UTF-8</prop>
				<prop key="url_escaping_charset">UTF-8</prop>
				<prop key="datetime_format">yyyy-MM-dd</prop> 
				<prop key="number_format">0.######</prop>
				<prop key="template_update_delay">0</prop>
			</props>
		</property>
		<property name="freemarkerVariables">
			<map>
				<entry key="xml_escape" value-ref="fmXmlEscape" />
				<!-- url重写标签 -->
				<entry key="xurl" value-ref="rewriteURLMethod" />
				<!-- page翻页模板 -->
				<entry key="xpage" value-ref="pageFTLMethod" />
				<!-- zoshow图片url -->
				<entry key="zsurl" value-ref="zoShowUrlMethod" />
				<!-- ui文件版本号工具 -->
				<entry key="xversion" value-ref="uiVersionMethod" />
			</map>
		</property>
	</bean>

   <!-- 自定义freemarker 标签 -->
	<bean id="uiVersionMethod" class="com.ui.version.view.tags.freemarker.FreemarkerUiVersionTags" />
	<bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape" />
	<bean id="rewriteURLMethod" class="com.xiu.search.web.ext.freemarker.RewriteURLMethod" />
	<bean id="pageFTLMethod" class="com.xiu.search.web.ext.freemarker.PageFTLMethod" />
	<bean id="zoShowUrlMethod" class="com.xiu.search.web.ext.freemarker.RandomZoshowImageUrlMethod" />
	
	
	<bean id="viewResolver"	class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="order" value="2" />
		<property name="prefix" value="views/pages/" />
		<property name="suffix" value=".ftl" />
		<property name="contentType" value="text/html; charset=utf-8" />
	</bean>

	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
	<bean id="annotationMethodHandlerAdapter" class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<!-- TODO: 需确认messageConverters是否可被删除 -->
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
				<ref bean="stringHttpMessageConverter" />
			</list>
		</property>
	</bean>
	<!-- 需确认mappingJacksonHttpMessageConverter的配置是否可被删除 -->
	<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter" >
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<bean id="xiuAnalyticsFilter" class="com.xiu.search.web.filter.AnalyticsFilter" lazy-init="false"></bean>
	
	<!-- 需确认restTemplate的配置是否可被删除 -->
	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
		<property name="messageConverters">
			<list>
				<ref bean="stringHttpMessageConverter" />
				<bean id="formHttpMessageConverter" class="org.springframework.http.converter.FormHttpMessageConverter" />
			</list>
		</property>
	</bean>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
	
</beans>
