<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- 1. DEBUG (the least serious) 2. INFO 3. WARN 4. ERROR 5. FATAL (the 
		most serious) -->
	<!-- 以下是appender的定义 ConsoleAppender DailyRollingFileAppender -->
	<appender name="PROJECT" class="org.apache.log4j.ConsoleAppender">
		<param name="file" value="d:/search.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{yyyy-MM-dd HH\:mm\:ss} %-5p] %X{requestURI} %t %c - %m%n" />
		</layout>
	</appender>
	<appender name="IBATIS" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="d:/search.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d 
		%-5p %c{2} - %m%n" />
		</layout>
	</appender>
	<logger name="com.ibatis" additivity="false">
		<level value="INFO" />
		<appender-ref ref="IBATIS" />
	</logger>
	<logger name="java.sql" additivity="false">
		<level value="INFO" />
		<appender-ref ref="IBATIS" />
	</logger>
	<logger name="com.xiu.search">
		<level value="INFO" />
		<appender-ref ref="PROJECT" />
	</logger>
</log4j:configuration>